.git
.github
.gitignore

node_modules
coverage
.cache
.eslintcache
*.tsbuildinfo
*.tgz
logs
*.log

.env
.env.*
!.env.example

src-tauri/target
src-tauri/gen
src/desktop/output.css
dist
out

.DS_Store
.idea
